@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
 }
.navbar-logo{
    max-height: 50px !important;
    margin: 10px;
}

/* flex utilities */
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}





/* margin and padding utilities */
.pt-4{
    padding-top:40px ;
}
.m-0{
    margin: 0px !important;
}
.mt-4{
    margin-top:0px ;
}

.display-4{
    font-size: 4rem;
}
.parallax-box{
    background-image: url('./images/green-leaves-2609107.jpg');
    height: 75vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media{
    font-size: 2.5rem;
    color: white;
    margin: 10px 25px;
}