@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
 }
.navbar-logo{
    max-height: 100% !important;
    margin-left: 10px;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
}
/* flex utilities */
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav{
    position: fixed !important;
    z-index: 5 !important;
}

.heading{
    margin-top: 100px;
}
.h-300{
    height: 300px;
}
.p-5{
    padding: 15px 100px !important;
}
.bold-text{
 font-weight: 900 !important;
}
.panel-image{
    height: 200px;
    width: 200px;
}
/* margin and padding utilities */
.mt-2{
    margin-top: 20px;
}
.pt-4{
    padding-top:40px ;
}
.pt-5{
    padding-top:50px ;
}
.m-0{
    margin: 0px !important;
}
.mt-4{
    margin-top:0px ;
}
.py-3{
    padding: 10px 20px !important;
}
.display-4{
    font-size: 4rem;
}
.parallax-box{
    background-image: url('./images/green-leaves-2609107.jpg');
    height: 75vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media{
    font-size: 2.5rem;
    color: white;
    margin: 10px 25px;
}

@media only screen and (max-width: 600px) {
    .parallax-box{
        height: 100%;
    }
    .p-5{
        padding:0 !important;
    }
    .h-100{
        min-height: 100% !important;
    }
    .h-100{
        margin-bottom: 400px !important;
    }
    footer{
        margin-top: 100px !important;
        text-align: center !important;
    }
    .panel-image{
        height: 100px ;
        width: 100px;
    }
  }
